html {
    background: linear-gradient(90deg, #cccc66 , #a6bf73, #80b380, #59a68c, #339999);
        background-size: 300% 300%;
        -webkit-animation: colors 15s ease infinite; /* Safari and Chrome */
        animation: colors 12s ease infinite;
}
    
/*Transição*/

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Seta Subir */

#seta {
    position: fixed;
    bottom: 50px;
    right: 10px;
    width: 60px;
    height: 60px;

    background-color: transparent;  /* Remove o fundo */
    background-image: url(pra-cima.png);
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    
    border: none;
    cursor: pointer;
}

#seta {
    transform: scale(1.1); /* Efeito de escala ao passar o mouse */
}

/*Geral*/

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 90%;
    margin: 2rem auto;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    padding: 0.5em 0;
}

h2 {
    font-size: 26px;
    font-weight: bold;
    padding: 0.25em 0;
}

p {
    font-size: 22px;
    padding: 0.25em 0;
    margin-bottom: 10px; /* Ajuste o valor conforme necessário */
    line-height: 1.25; /* Ajuste o valor conforme necessário */
    text-align: justify;
}

ul {
   font-size: 20px; 
   text-align: justify;
}

.iconeParaLista {
    width: 24px;
    float: left;
    text-align: center;
}


/*CABEÇALHO*/
header {
    background: url(cabeçalho.png);
    animation: cabecalho 15s linear infinite;
    background-repeat: repeat; /* Isso fará com que a imagem se repita */;
    background-size:  1000px 300%; /* Isso ajustará a imagem ao espaço do cabeçalho */
    position: fixed; /* Tornar o cabeçalho fixo */
    top: 0; /* Definir o topo como 0 para mantê-lo no topo da página */
    left: 0; /* Definir a esquerda como 0 para mantê-lo no canto superior esquerdo */
    width: 100%; /* Ocupar a largura total da janela */
    z-index: 1000; /* Garantir que esteja acima de outros elementos */
    margin-bottom: 20px; /* Adicione um espaçamento na parte inferior do cabeçalho */
}

@keyframes cabecalho {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
}

header h1 {
    text-align: center;
    font-size: 45px;
    font-family: Trebuchet MS, sans-serif;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;

    background-image: linear-gradient(to bottom, GreenYellow, lawnGreen, darkGreen); /*Primeiro passo: definir um degradê como fundo*/
    background-clip: text;  /*Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto*/
    -webkit-background-clip: text; /*Alguns navegadores precisam do prefixo*/
    -webkit-text-fill-color: transparent; /*Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele*/
    color: black; /*Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text`*/
}

nav {
    position: absolute; /*posição da navegação*/
    top: 0;
    right: 0; /*colocando a posição na direita*/
}

nav li{
    display: inline-block;
    margin: 25px 10px 0 25px;/*1°top = topo, 2°right = direita, 3°para baixo, 4°left = esquerda*/
}

.botao-degrade {
    --border-radius: 3px;
    --border-width: 3px;
    appearance: none;
    position: relative;
    padding: 0.8em 0.5em; /*baixo, largura*/
    border: 0;

    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.619);
    font-family: 'open_sansregular';
    font-size: 18px;
    font-weight: 500;
    color: white;
    z-index: 2;
}
  
.botao-degrade::after {
  
   --m-i: linear-gradient(#000, #000);
   --m-o: content-box, padding-box;
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   padding: var(--border-width);
   border-radius: var(--border-radius);
   background-image: conic-gradient(
      #ffffff,
      #2aff58,
      #00ff37,
      #45ff6d,
      #6cff8c,
      #97ffae,
      #ffffff
    );
   -webkit-mask-image: var(--m-i), var(--m-i);
   mask-image: var(--m-i), var(--m-i);
   -webkit-mask-origin: var(--m-o);
   mask-origin: var(--m-o);
   -webkit-mask-clip: var(--m-o);
   mask-composite: exclude;
   -webkit-mask-composite: destination-out;
   filter: hue-rotate(0);
   animation: rotate-hue linear 1000ms infinite;
   animation-play-state: paused;
  
   animation-play-state: running;
  }
  
  @keyframes rotate-hue {
   to {
    filter: hue-rotate(1turn);
   }
  }
  
  .botao-degrade,
  .botao-degrade::after {
   box-sizing: border-box;
  }
  
  .botao-degrade:active {
   --border-width: 5px;
  }

/*APRESENTAÇÃO*/

.apresentacao {
    padding: 3em 0; /*espaçamento interno*/
    width: 1000px; /*largura*/
    margin: 0 auto;
}

.apresentacao h1 {
    text-align: center;
    font-size: 2em; /*duas vezes o tamanho base*/
    margin: 0 0 1em;/*Margem para o topo*/
    clear: left; /*Adicionando a propriedade clear que "limpa" o float que está posicionado à esquerda.*/
}

.fotoApresentacao {
    width: 200px;
    float: left;
    margin: 0 20px 20px 0;
}

.apresentacao p {
    font-size: 17px;
}

/*AÇUCAR*/

.cubosDeAcucar {
    float: right;
    width: 600px;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 0 0 0 1em;
}

/*INSETOS*/

.poteDeInsetos {
    float: right;
    width: 600px;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 0 0 0 1em;
}

/*PIRAMIDE ALIMENTAR*/

.piramideAlimentar {
    float: right;
    width: 500px;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 0 0 0 1em;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Estilos para telas médias (exemplo: tablets) */
@media screen and (max-width: 1024px) {
    main {
        width: 90%;
        margin: 1rem auto;
        margin-top: 300px; /* ou ajuste conforme necessário para dar espaço para o cabeçalho */    
    }

    h1 {
        font-size: 2em; /* Tamanho de fonte maior para cabeçalhos */
        padding: 0.25em 0;
    }

    h2 {
        font-size: 1.8em; /* Tamanho de fonte maior para subtítulos */
        padding: 0.25em 0;
    }

    h3 {
        font-size: 1.5em; /* Tamanho de fonte maior para subtítulos */
        padding: 0.25em 0;
    }

    p {
        font-size: 1.80em;
        margin-bottom: 10px; /*Espaço entre os paragrafos*/
        line-height: 1.5; /*espaço entre as linhas*/
    }

    ul {
        font-size: 1.70em;
        line-height: 1.25; /*espaço entre as linhas*/
    }

    .iconeParaLista {
        width: 30px;
    }

    header {
        padding: 3em;
    }

    header h1 {
        font-size: 3.5em;
        padding-right: 2em;
    }

    .botao-degrade {
        padding: 0.5em 0.3em; /*baixo, largura*/
        font-size: 1em;
        top: -13px;
        right: 85px;
    }

    .apresentacao {
        width: 100%; /* Defina a largura da seção como 100% para ocupar toda a largura da tela */
        box-sizing: border-box; /* Inclua as bordas na largura total para evitar que a seção ultrapasse os limites */
        padding: 0; /* Reduza o preenchimento para que a seção não ocupe mais espaço do que o necessário */
    }

    .apresentacao p {
        font-size: 1.5em; /* Tamanho de fonte maior para o texto principal */
    }

    .cubosDeAcucar, .poteDeInsetos, .piramideAlimentar {
        margin: 1 auto;
        width: 50%;
    }
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Estilos para telas pequenas (exemplo: smartphones) */
@media screen and (max-width: 600px) {
    main {
        width: 90%;
        margin: 2rem auto;
        margin-top: 155px; /* Adicione uma margem superior para evitar que o conteúdo fique sob o cabeçalho */
    }

    h1 {
        font-size: 1.5em;
        padding: 0.25em 0;
    }

    h2 {
        font-size: 1em;
        padding: 0.25em 0;
    }

    h3 {
        padding: 0.25em 0;
    }

    p {
        font-size: 0.85em;
        margin-bottom: 10px;
        line-height: 1.25;
    }

    ul {
        font-size: 0.85em;
    }

    .iconeParaLista {
        width: 18px;
    }

    header {
        padding: 2em;
    }

    header h1 {
        font-size: 1.5em;
        padding-right: 2.35em;
    }

    .botao-degrade {
        padding: 0.5em 0.3em; /*baixo, largura*/
        font-size: 1em;
        top: -13px;
        right: 60px;
    }

    .apresentacao {
        width: 100%; /* Defina a largura da seção como 100% para ocupar toda a largura da tela */
        box-sizing: border-box; /* Inclua as bordas na largura total para evitar que a seção ultrapasse os limites */
        padding: 0; /* Reduza o preenchimento para que a seção não ocupe mais espaço do que o necessário */
    }

    .apresentacao h1 {
        text-align: center;
        font-size: 20px; /* Duas vezes o tamanho base */
        margin: 0 0 1em;
        clear: none; /* Remova a propriedade clear que "limpa" o float que estava posicionado à esquerda. */
    }

    .apresentacao p {
        font-size: 0.85em;
        float: none; /* Remova o float do elemento de texto */
        width: 100%; /* Defina a largura do elemento de texto para ocupar todo o espaço disponível */
    }

    .fotoApresentacao {
        width: 30%;
        
    }

    .cubosDeAcucar,
    .poteDeInsetos, .piramideAlimentar {
        margin: 1 auto;
        width: 50%;
        
    }

    #seta {
        bottom: 30px;
        right: 5px;
        width: 40px;
        height: 40px;
        background-size: 30px;
    }
}